# Hello World (Run this cell first)

In [ ]:
# imports from bibTableau
from bibTableau import *

#jupyter notebook autosave interval
%autosave 5

print("Hello World")
print("Use Google Chrome as browser otherwise you might have issues!!!!")

# Exercice 1: appartient(x,t,n,d,f)

In [4]:
def appartient(x,t,n,d,f):
    for i in range(d, f+1):
        if t[i] == x:
            return True
    return False


appartient(2,[1,2,5,7],6,1,3)

True

# Exercice 2: doubler(t,n)

In [8]:
def doubler(t,n):
    for i in range(n):
        t[i]=t[i]*2
    return t

doubler([1,2,3,4], 4)

[2, 4, 6, 8]

# Exercice 3: cumuler(t,n)

In [13]:
def cumuler(t,n):
    for i in range(n):
        if i!=0:
            j=t[i-1]
        if i==0:
            j=0
        t[i]= t[i]+j
    return t


cumuler([1,-3,12,-183], 4)

[1, -2, 10, -173]

# Exercice 4: renverser(t,n)

In [32]:

def renverser(t,n):
    for i in range(0,n//2):
        j=t[i]
        t[i]=t[n-1-i]
        t[n-1-i]=j
    return t

renverser([1, -3, 12, -183],4)

[-183, 12, -3, 1]

# Exercice 5: ouLogique(t1,t2,n)

In [43]:
from bibTableau import*

def outLogique(t1,t2,n):
    t=  creerTableau(n)
    for i in range(n):
        t[i]= t1[i]or t2[i]
    return t

t1=[True,False,False,True]
t2=[False,False,True,True]

outLogique(t1,t2,4)

[True, False, True, True]

# Exercice 6.TD3-2: moyenne(t,n)

In [46]:

def moyenne(t,n):
    s=0
    for i in range(n):
        s=s + t[i]
    m=s/n
    return m


moyenne([1,2,3],3)

2.0

# Exercice 6.TD3-3: substituer(t,n,x,y)

In [47]:

def substituer(t,n,x,y):
    for i in range(n):
        if t[i]==x:
            t[i]=y
    return t

t=[2,1,2,7,3,5,1] 
substituer(t,7,1,8)

[2, 8, 2, 7, 3, 5, 8]

# Exercice 6.TD3-4: recherche(t,n,x)

In [50]:
def recherche(t,n,x):
    for i in range(n):
        if t[i]==x:
            return i
    return -1

t=[2,1,2,7,3,5,1] 

    
recherche(t,7,5)

5

# Exercice 6 .TD3-5: indiceMaximum(t,n)

In [51]:
def indiceMaximum(t,n):
    s=0
    for i in range(n):
        if t[i]> t[s]:
            s=i
    return s 

t=[2,1,2,7,3,5,1] 

indiceMaximum(t,7)

3

# Exercice 6.TD3-6: complementaire(t,n)

# Exercice 7: fibonacciTableau(n)

# Exercice complémentaire-1: uniformite(n)

In [18]:

def lancerDe():
    return int(random.uniform(1,7))

# Exercice complémentaire-2: estTrie(t,n)